
@{
    ViewBag.Title = "Error404";
}
<div class="main">
    <h1>404 PAGE NOT FOUND</h1>

    <h3>The page you were looking for does not exist.</h3>

    <h5><a asp-action="index" asp-controller="Home">Go Back Home</a></h5>
</div>


<style>
    h3{
        text-align: center;
        padding:20px;
    }
    h5{
        text-align: center;
    }
</style>