
@{
    ViewBag.Title = "Index";
}

<div class="main">
    <h1>There was an unexpected error. </h1>

    <h3>Please come back later.</h3>

    <h5><a asp-action="index" asp-controller="Home">Go Back Home</a></h5>
</div>


<style>
    h3 {
        text-align: center;
        padding: 20px;
    }

    h5 {
        text-align: center;
    }
</style>